<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for CitationStylesheet</h1>

    <f:flashMessages/>

    <table class="tx_extbibsonomycsl">
        <tr>
            <th>
                <f:translate key="tx_extbibsonomycsl_domain_model_citationstylesheet.id"/>
            </th>
            <th>
                <f:translate key="tx_extbibsonomycsl_domain_model_citationstylesheet.title"/>
            </th>
            <th>
                <f:translate key="tx_extbibsonomycsl_domain_model_citationstylesheet.xml_source"/>
            </th>
            <th></th>
            <th></th>
        </tr>

        <f:for each="{citationStylesheets}" as="citationStylesheet">
            <tr>
                <td>
                    <f:link.action action="show" arguments="{citationStylesheet : citationStylesheet}">
                        {citationStylesheet.id}
                    </f:link.action>
                </td>
                <td>
                    <f:link.action action="show" arguments="{citationStylesheet : citationStylesheet}">
                        {citationStylesheet.title}
                    </f:link.action>
                </td>
                <td>
                    <f:link.action action="show" arguments="{citationStylesheet : citationStylesheet}">
                        {citationStylesheet.xmlSource}
                    </f:link.action>
                </td>
                <td>
                    <f:link.action action="edit" arguments="{citationStylesheet : citationStylesheet}">Edit
                    </f:link.action>
                </td>
                <td>
                    <f:link.action action="delete" arguments="{citationStylesheet : citationStylesheet}">Delete
                    </f:link.action>
                </td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New CitationStylesheet</f:link.action>
</f:section>