<f:layout name="Backend"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}
<f:section name="header">

</f:section>
<f:section name="docheader-functions">

</f:section>
<f:section name="docheader-buttons">
    <f:if condition="{auths -> f:count()} < 1">
        <f:then>
            <f:link.action action="new" title="{f:translate(key: 'be.menu.oauth.add')}">
                <core:icon identifier="actions-page-new"/>
            </f:link.action>
        </f:then>
    </f:if>
</f:section>

<f:section name="breadcrumbs"><span class="typo3-docheader-pagePath">PUMA/BibSonomy CSL > <f:translate
        key="be.menu.oauth"/></span></f:section>

<f:section name="title">
    <f:translate key="be.oauth.list.consumers"/>
    <f:if condition="{auths -> f:count()} < 1">
        <f:link.action action="oauth" title="{f:translate(key: 'be.menu.oauth.add')}">
            <core:icon identifier="actions-page-new"/>
        </f:link.action>
    </f:if>
</f:section>
<f:section name="main">


    <div class="tx_extbibsonomycsl_main_flashmsg">
        <f:flashMessages/>
    </div>

    <p>
        <f:translate key="be.oauth.list.consumers.hostSystem"/>
        : {hostSystem}
        <f:link.external uri="{hostUSystem}/settings?selTab=6#selTab=6"
                         title="{f:translate(key:'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xml:be.oauth.list.consumers.linkToHost')}">
            <core:icon identifier="apps-pagetree-page-shortcut-external"/>
        </f:link.external>


    </p>
    <hr/>

    <ul style="list-style: none; margin:0; padding:0;">
        <f:for each="{auths}" as="auth" key="i">
            <li style="clear: left; padding-bottom: 1.5em;">
                <div class="icons" style="float:left;width: 3em;">

                    <f:link.action action="new" arguments="{authentication: auth}"
                                   title="{f:translate(key:'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xml:be.menu.oauth_auth.refresh')}">
                        <core:icon identifier="actions-system-refresh"/>
                    </f:link.action>

                    <br/>

                    <f:link.action action="delete" arguments="{authentication: auth}"
                                   title="{f:translate(key:'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xml:be.menu.oauth_auth.remove')}">
                        <core:icon identifier="actions-edit-delete"/>
                    </f:link.action>

                </div>
                <div class="" style="float: left;">
                    <strong>
                        <f:translate key="be.oauth.list.consumers.host"/>
                        :</strong> <a href="{auth.hostAddress}">{auth.hostAddress}</a><br/>
                    <strong>
                        <f:translate key="be.oauth.list.consumers.user"/>
                        :</strong> <span>{auth.hostUserName}</span><br/>
                    <strong>
                        <f:translate key="be.oauth.list.consumers.createDate"/>
                        :</strong> <span><f:format.date format="d.m.Y H:m:s" date="{auth.createDate}"/></span>
                    <f:if condition="{dateDiffs.0 > 182}">
                        <f:then>
                            <span>(<f:translate key="be.oauth.list.consumers.validLeft" arguments="{0: dateDiffs.0}"/>)</span>
                        </f:then>
                        <f:else>
                            <f:if condition="{dateDiffs.0 > 50}">
                                <f:then>
                                    <span style="color: orange">(<f:translate key="be.oauth.list.consumers.validLeft"
                                                                              arguments="{0: dateDiffs.0}"/>)</span>
                                </f:then>
                                <f:else>
                                    <span style="color: red">(<f:translate key="be.oauth.list.consumers.validLeft"
                                                                           arguments="{0: dateDiffs.0}"/>)</span>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </div>
                <div style="clear:left"></div>
            </li>
        </f:for>
    </ul>
</f:section>