<f:layout name="Backend"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}
<f:section name="header">

</f:section>
<f:section name="docheader-functions">

</f:section>
<f:section name="docheader-buttons">
    <f:link.action action="list"
                   title="{f:translate(key:'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xml:be.basic_auth.edit.discard')}">
        <core:icon identifier="actions-save-close"/>
    </f:link.action>
</f:section>

<f:section name="breadcrumbs"><span class="typo3-docheader-pagePath">PUMA/BibSonomy CSL > <f:translate
        key="be.menu.basic_auth"/></span></f:section>

<f:section name="title">Add a new OAuth Access for PUMA or BibSonomy</f:section>

<f:section name="main">

    <f:flashMessages/>

    <f:render partial="FormErrors" arguments="{object:Authentication}"/>

    <f:form action="create" name="newAuthentication" object="{newAuthentication}">

        <f:render partial="Authentication/FormFields"/>

        <f:form.submit value="Create new"/>
    </f:form>
</f:section>