<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Publication</h1>

    <f:flashMessages/>

    <table class="tx_extbibsonomycsl">
        <tr>
            <th>
                <f:translate key="tx_extbibsonomycsl_domain_model_publication.id"/>
            </th>
            <th>
                <f:translate key="tx_extbibsonomycsl_domain_model_publication.title"/>
            </th>
            <th>
                <f:translate key="tx_extbibsonomycsl_domain_model_publication.year"/>
            </th>
            <th>
                <f:translate key="tx_extbibsonomycsl_domain_model_publication.json_source"/>
            </th>
            <th></th>
            <th></th>
        </tr>

        <f:for each="{publications}" as="publication">
            <tr>
                <td>
                    <f:link.action action="show" arguments="{publication : publication}"> {publication.id}
                    </f:link.action>
                </td>
                <td>
                    <f:link.action action="show" arguments="{publication : publication}"> {publication.title}
                    </f:link.action>
                </td>
                <td>
                    <f:link.action action="show" arguments="{publication : publication}"> {publication.year}
                    </f:link.action>
                </td>
                <td>
                    <f:link.action action="show" arguments="{publication : publication}"> {publication.jsonSource}
                    </f:link.action>
                </td>
                <td>
                    <f:link.action action="edit" arguments="{publication : publication}">Edit</f:link.action>
                </td>
                <td>
                    <f:link.action action="delete" arguments="{publication : publication}">Delete</f:link.action>
                </td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Publication</f:link.action>
</f:section>