{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}
<f:if condition="{post.resource.howpublished}">
    <em>
        <bib:CleanOut value="{post.resource.howpublished}"/>
    </em>
    <bib:CleanOut value=", "/>
</f:if>