{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}
<f:if condition="{post.resource.type}">
    <em>
        <bib:CleanOut value="{post.resource.type}"/>
    </em>
    <bib:CleanOut value=", "/>
</f:if>