{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}
<f:if condition="{post.resource.volume}">
    <f:then>
        <f:if condition="{post.resource.number}">
            <f:then>
                <f:if condition="{post.resource.page}">
                    <f:then>
                        <em>
                            <bib:CleanOut value="{post.resource.volume}"/>
                            (
                            <bib:CleanOut value="{post.resource.number}"/>
                            ):
                            <bib:CleanOut value="{post.resource.page}"/>
                        </em>
                    </f:then>
                </f:if>
            </f:then>
        </f:if>
    </f:then>
</f:if>
