{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}

<f:if condition="{post.resource.volume}">
    <f:then>
        <em>
            <f:translate key="bibtex.volume"/>
            <bib:CleanOut value="{post.resource.volume}"/>
        </em>
        <bib:CleanOut value=". "/>
    </f:then>
    <f:else>
        <f:if condition="{post.resource.number}">
            <f:then>
                <em>
                    <bib:CleanOut value="{post.resource.number}"/>
                </em>
                <bib:CleanOut value=". "/>
            </f:then>
        </f:if>
    </f:else>
</f:if>
