<f:be.container includeCssFiles="{0: '{f:uri.resource(path:\'Styles/autocomplete.css\')}'}">

    <div class="typo3-docheader-functions">
        <div class="left" style="width: 50%!important; overflow:hidden; float: left;">
            <f:be.menus.actionMenu>
                <f:be.menus.actionMenuItem label="{f:translate(key: 'be.menu.overview')}" controller="Backend"
                                           action="index"/>
                <f:be.menus.actionMenuItem label="{f:translate(key: 'be.menu.styles')}" controller="Backend"
                                           action="list"/>
                <f:be.menus.actionMenuItem label="{f:translate(key: 'be.menu.basic_auth')}" controller="BasicAuth"
                                           action="list"/>
                <f:be.menus.actionMenuItem label="{f:translate(key: 'be.menu.oauth')}" controller="OAuth"
                                           action="list"/>
            </f:be.menus.actionMenu>
        </div>
        <div class="right" style="text-align: right;">
            <f:render section="breadcrumbs"/>
        </div>
    </div>
    <div class="typo3-docheader-buttons">
        <f:render section="docheader-buttons"/>
    </div>
    <div id="typo3-docbody">
        <div id="typo3-inner-docbody">
            <f:flashMessages />
            <div class="tx_extbibsonomycsl_main">
                <div class="tx_extbibsonomycsl_pagetitle">
                    <h2>
                        <f:render section="title"/>
                    </h2>
                </div>

                <f:render section="main"/>

            </div>
            <div class="tx_extbibsonomycsl_footer">

            </div>
        </div>
    </div>
</f:be.container>