<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Details.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}
<f:section name="main">

    <f:flashMessages/>

    <div class="bibsonomy_publication">
        <h2 class="tx-extbibsonomycsl-pub-header">{post.resource.title}</h2>

        <p>
            <f:render partial="DetailsDesc" arguments="{post: post}"/>
        </p>
        <div class="tx-extbibsonomycsl-abstract">
            <f:format.nl2br>{post.resource.bibtexAbstract}</f:format.nl2br>
        </div>
        <table id="tx-extbibsonomycsl-detailstable">
            <caption>
                <f:translate key="fe.details.table.caption"/>
            </caption>
            <tbody>
            <f:if condition="{post.resource.editor}">
                <f:then>
                    <tr>
                        <td>
                            <f:translate key="fe.details.table.editors"/>
                        </td>
                        <td>
                            <f:format.html parseFuncTSPath="">
                                <bib:Author author="{post.resource.editor}"/>
                            </f:format.html>
                        </td>
                    </tr>
                </f:then>
            </f:if>
            <f:format.html parseFuncTSPath="">
                <bib:LinkDoi post="{post}" details="true"/>
                <bib:LinkUrn post="{post}" details="true"/>
            </f:format.html>
            <f:if condition="{post.tag}">
                <f:then>
                    <tr>
                        <td>Tags</td>
                        <td>
                            <f:for each="{post.tag}" as="tag">
                                <a href="{host}/user/{post.user.name}/{tag.name}">{tag.name}</a>&nbsp;
                            </f:for>
                        </td>
                    </tr>
                </f:then>
            </f:if>
            </tbody>
        </table>
    </div>

</f:section>