<f:link.action action="index" title="{f:translate(key: 'be.menu.overview')}">
	<core:icon identifier="actions-house" />
</f:link.action>

<f:link.action action="create" title="{f:translate(key:'be.menu.style.create')}">
	<core:icon identifier="actions-page-new" />
</f:link.action>

<f:link.action action="upload" title="{f:translate(key:'be.menu.style.upload')}">
	<core:icon identifier="actions-edit-upload" />
</f:link.action>
