<f:layout name="Backend"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}
<f:section name="header">

</f:section>
<f:section name="docheader-functions">

</f:section>
<f:section name="docheader-buttons">
    <f:link.action action="new" title="{f:translate(key: 'be.basic_auth.list.add')}">
        <core:icon identifier="actions-page-new"/>
    </f:link.action>
</f:section>

<f:section name="breadcrumbs"><span class="typo3-docheader-pagePath">PUMA/BibSonomy CSL >
    <f:translate key="be.menu.basic_auth"/></span></f:section>
<f:section name="title">
    <f:translate key="be.basic_auth.list"/>
    <f:link.action action="new" title="{f:translate(key: 'be.basic_auth.list.add')}">
        <core:icon identifier="actions-page-new"/>
    </f:link.action>
</f:section>
<f:section name="main">


    <div class="tx_extbibsonomycsl_main_flashmsg">
        <f:flashMessages/>
    </div>

    <ul style="list-style: none; margin:0; padding:0;">
        <f:for each="{auths}" as="auth">
            <li style="clear: left; padding-bottom: 1.5em;">
                <div class="icons" style="float:left;width: 3em;">
                    <f:link.action action="edit" arguments="{authentication: auth}"
                                   title="{f:translate(key:'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xml:be.basic_auth.edit')}">
                        <core:icon identifier="actions-document-open"/>
                    </f:link.action>

                    <f:link.action action="delete" arguments="{authentication: auth}"
                                   title="{f:translate(key:'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xml:be.basic_auth.remove')}">
                        <core:icon identifier="actions-edit-delete"/>
                    </f:link.action>


                </div>
                <div class="" style="float: left;">
                    <strong>
                        <f:translate key="be.oauth.list.consumers.host"/>
                        :</strong> <a href="{auth.hostAddress}">{auth.hostAddress}</a><br/>
                    <strong>
                        <f:translate key="be.oauth.list.consumers.user"/>
                        :</strong> <span>{auth.hostUserName}</span><br/>
                    <strong>API Key:</strong> <span>{auth.hostApiKey}</span>
                </div>
                <div style="clear:left"></div>
            </li>
        </f:for>
    </ul>

</f:section>