<label for="hostAddress">
    <f:translate key="tx_extbibsonomycsl_domain_model_authentication.host_address"/>
    <span class="required">(required)</span>
</label><br/>
<f:form.select property="hostAddress" options="{hosts}" optionValueField="key" optionLabelField="value"/><br/>

<label for="hostUserName">
    <f:translate key="tx_extbibsonomycsl_domain_model_authentication.host_user_name"/>
    <span class="required">(required)</span>
</label><br/>
<f:form.textfield property="hostUserName"/><br/>

<label for="hostApiKey">
    <f:translate key="tx_extbibsonomycsl_domain_model_authentication.host_api_key"/>
    <span class="required">(required)</span>
</label><br/>
<f:form.textfield property="hostApiKey"/><br/>

<f:form.hidden property="enableOAuth" value="0"/><br/>