<f:be.container>
    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div id="typo3-docheader-row1">
                <div class="buttonsleft">

                </div>
                <div class="buttonsright">
                    <f:be.buttons.shortcut/>
                </div>
            </div>
            <div id="typo3-docheader-row2">
                <div class="docheader-row2-left">
                    <f:be.buttons.csh/>
                    <f:be.menus.actionMenu>
                        <f:be.menus.actionMenuItem label="Overview" controller="" action="list"/>

                    </f:be.menus.actionMenu>
                </div>
                <div class="docheader-row2-right">
                    <f:be.pagePath/>
                    <f:be.pageInfo/>
                </div>
            </div>

        </div>
        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <f:flashMessages />
                <f:render section="content"/>
            </div>
        </div>
    </div>
</f:be.container>