<f:layout name="Backend"/>
This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}
<f:section name="header">
</f:section>

<f:section name="docheader-buttons">
    <div class="left">

        <f:link.action action="list" title="{f:translate(key: 'be.menu.discard')}">
            <core:icon identifier="actions-save-close"/>
        </f:link.action>
    </div>
</f:section>
<f:section name="breadcrumbs"><span class="typo3-docheader-pagePath">PUMA/BibSonomy CSL > <f:translate
        key="be.menu.style.import"/></span></f:section>

<f:section name="title">
    <f:translate key="be.style.import"/>
</f:section>
<f:section name="main">
    <script type="text/javascript">
        //$.noConflict();
        $(document).ready(function () {

            var url = "{f:uri.action(action:'json')}";
            $('#autocomplete').typeahead({
                    highlight: true,
                    minLength: 2
                },
                {
                    limit: 12,
                    async: true,
                    displayKey: 'title',
                    source: function (query, processSync, processAsync) {
                        //processSync({title:"Searching for '"+query+"'", path:"", id:""});
                        return $.ajax({
                            url: url,
                            type: 'GET',
                            data: {query: query.toLowerCase()},
                            dataType: 'json',
                            success: function (result) {
                                return processAsync(result);
                            }
                        });
                    }
                }
            ).bind('typeahead:select', function (event, selected) {
                $('#stylePath').val(selected.path);
            });

        });
    </script>

    <f:form action="import">
        <f:form.hidden id="stylePath" name="stylePath" value=""/>
        <f:form.textfield size="80" style="width: 80%" id="autocomplete" class="csl-autocomplete" value=""
                          placeholder="{f:translate(key: 'be.style.import.placeholder')}"/>
        <br/>
        <f:form.submit title="Import CSL Style" value="{f:translate(key: 'be.style.import.submit')}"/>
    </f:form>
</f:section>