<f:layout name="Backend"/>
<f:section name="docheader-buttons"><!-- --></f:section>

<f:section name="title">PUMA/BibSonomy CSL</f:section>

<f:section name="breadcrumbs"><span class="typo3-docheader-pagePath">PUMA/BibSonomy CSL > <f:translate
        key="be.menu.overview"/></span></f:section>

<f:section name="main">

    <p>
        <f:translate key="be.authentication.overview.desc"/>
    </p>

    <table style="border: none">
        <tr>
            <td style="padding-right: 3em; min-width: 30%;">
                <h4>CSL Stylesheets</h4>
                <ul style="list-style: none; padding:0; margin:0">
                    <li>
                        <f:link.action action="list"
                                       title="{f:translate(key:'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xml:be.menu.styles')}">
                            <core:icon identifier="actions-system-list-open"/>
                        </f:link.action>

                        <a id="x" href="{f:uri.action(action:'list')}"
                           title="{f:translate(key:'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xml:be.menu.styles')}">
                            <f:translate key="be.menu.styles"/>
                        </a><br/>&nbsp;
                    </li>
                    <f:comment>
                        <!--
                        <li>
                            f:be.buttons.icon uri="{f:uri.action(action:'import')}" icon="actions-edit-download" title="{f:translate(key:'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xml:be.menu.style.import')}" />
                            <a id="y" href="{f:uri.action(action:'import')}" title="{f:translate(key:'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xml:be.menu.style.import')}"><f:translate key="be.menu.style.import" /></a><br />&nbsp;
                        </li>
                        <li>
                            f:be.buttons.icon uri="{f:uri.action(action:'create')}" icon="actions-page-new" title="{f:translate(key:'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xml:be.menu.style.create')}" />
                            <a id="z" href="{f:uri.action(action:'create')}" title="{f:translate(key:'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xml:be.menu.style.create')}"><f:translate key="be.menu.style.create" /></a><br />&nbsp;
                        </li>
                        <li>
                            f:be.buttons.icon uri="{f:uri.action(action:'upload')}" icon="actions-edit-upload" title="{f:translate(key:'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xml:be.menu.style.upload')}" />
                            <a href="{f:uri.action(action:'upload')}" title="{f:translate(key:'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xml:be.menu.style.upload')}"><f:translate key="be.menu.style.upload" /></a><br />&nbsp;
                        </li>
                        -->
                    </f:comment>
                </ul>
            </td>

            <td style="width: 65%;">
                <h4>
                    <f:translate key="be.menu.auth"/>
                </h4>
                <ul style="list-style: none; padding:0; margin:0">
                    <li>
                        <f:link.action action="list" controller="BasicAuth"
                                       title="{f:translate(key:'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xml:be.menu.basic_auth')}">
                            <core:icon identifier="status-user-admin"/>
                        </f:link.action>

                        <a href="{f:uri.action(controller:'BasicAuth',action:'list')}">
                            <f:translate key="be.menu.basic_auth"/>
                        </a><br/>

                        <div style="padding-left: 21px;">
                            <small>
                                <f:translate key="be.menu.basic_auth.desc"/>
                            </small>
                        </div>
                        <br/>
                    </li>
                    <li>
                        <f:link.action action="list"
                                       controller="OAuth"
                                       title="{f:translate(key:'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xml:be.menu.oauth')}">
                            <core:icon identifier="status-user-admin"/>
                        </f:link.action>

                        <a href="{f:uri.action(controller:'OAuth',action:'list')}">
                            <f:translate key="be.menu.oauth"/>
                        </a><br/>

                        <div style="padding-left: 21px;">
                            <small>
                                <f:translate key="be.menu.oauth.desc" />
                            </small>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
    </table>

</f:section>