<f:layout name="Backend"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}
<f:section name="header">

</f:section>
<f:section name="docheader-functions">
    <f:be.menus.actionMenu>
        <f:be.menus.actionMenuItem label="Your Styles List" controller="Backend" action="list"/>
        <f:be.menus.actionMenuItem label="Create/Insert a new Style" controller="Backend" action="import"/>
    </f:be.menus.actionMenu>
</f:section>
<f:section name="docheader-buttons">
    <f:render partial="CitationStylesheet/BEMenu"/>
</f:section>

<f:section name="breadcrumbs"><span class="typo3-docheader-pagePath">PUMA/BibSonomy CSL > <f:translate
        key="be.menu.styles"/></span></f:section>

<f:section name="title">
    <f:translate key="be.style.list"/>
</f:section>
<f:section name="main">
    <script type="text/javascript">

        $(document).ready(function () {

//            $('.tx_extbibsonomycsl_delete_button a').click(function() {
//                return confirm("Are you sure you wish to delete "+$(this).attr('title')+"?");
//            });

            var url = "{f:uri.action(action:'json')}";
            $('#autocomplete').typeahead({
                    highlight: true,
                    minLength: 2
                },
                {
                    limit: 12,
                    async: true,
                    displayKey: 'title',
                    source: function (query, processSync, processAsync) {
                        //processSync({title:"Searching for '"+query+"'", path:"", id:""});
                        return $.ajax({
                            url: url,
                            type: 'GET',
                            data: {query: query.toLowerCase()},
                            dataType: 'json',
                            success: function (result) {
                                return processAsync(result);
                            }
                        });
                    }
                }
            ).bind('typeahead:select', function (event, selected) {
                $('#stylePath').val(selected.path);
            });

        });
        //]]>
    </script>


    <div class="tx_extbibsonomycsl_main_flashmsg">
        <f:flashMessages/>
    </div>


    <div>
        <img src="{f:uri.resource(path: 'Images/csl-small.png')}" alt="CSL Logo"
             style="float:right; width: 60px; padding: 0 0 2em 2em;"/>

        <p>
            <f:translate key="be.style.list.desc"/>
            <a href="http://citationstyles.org">http://citationstyles.org</a>.
        </p>
    </div>


    <h4>
        <f:translate key="be.style.import"/>
        <f:link.action action="create" title="{f:translate(key:'be.menu.style.create')}">
            <core:icon identifier="status-user-admin"/>
        </f:link.action>

        <f:link.action action="upload" title="{f:translate(key:'be.menu.style.upload')}">
            <core:icon identifier="actions-edit-upload"/>
        </f:link.action>
    </h4>

    <f:form action="import">
        <f:form.hidden id="stylePath" name="stylePath" value=""/>
        <f:form.textfield size="80" style="width: 80%" id="autocomplete" class="csl-autocomplete" value=""
                          placeholder="{f:translate(key: 'be.style.import.placeholder')}"/>
        <br/>
        <f:form.submit title="Import CSL Style" value="{f:translate(key: 'be.style.import.submit')}"/>
    </f:form>

    <h4>
        <f:translate key="be.style.list.headline"/>
    </h4>
    <table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist">
        <caption class="t3-row-header">
            <span class="c-table"><strong>Citation Stylesheets</strong></span> ({styles -> f:count()})
        </caption>
        <thead>
        <tr class="c-table-row-spacer">
            <td nowrap="nowrap" class="col-icon"><img src="clear.gif" width="1" height="8" alt=""></td>
            <td nowrap="nowrap" class="" colspan="2"></td>
        </tr>
        <tr class="c-headLine">
            <td nowrap="nowrap" class="col-icon">
                <f:link.action action="import" title="{f:translate(key: 'be.style.list.table.add')}">
                    <core:icon identifier="actions-document-new"/>
                </f:link.action>
            </td>
            <td class="col-title">
                <strong>
                    <f:translate key="be.style.list.table.title"/>
                </strong>
            </td>
            <td nowrap="nowrap" class="col-title">
                <strong>
                    <f:translate key="be.style.list.table.example"/>
                </strong>
            </td>
        </tr>
        </thead>
        <tbody>
        <f:for each="{styles}" as="style">
            <tr>
                <td style="width:10%">
                    <f:link.action action="delete" arguments="{stylesheet: style}"
                                   title="{f:translate(key: 'be.style.list.table.add'}">
                        <core:icon identifier="actions-edit-delete"/>
                    </f:link.action>
                </td>
                <td style="width:30%">
                    {style.title}
                </td>
                <td style="width:60%">
                    <f:format.html>
                        <bib:CslPublicationRenderer post="{post}" xmlSource="{style.xmlSource}" lang="en-US"/>
                    </f:format.html>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>

</f:section>